language: android
android:
  components:
    - build-tools-27.0.3
    - android-27
    - extra
  licenses:
    - android-sdk-preview-license-.+
    - android-sdk-license-.+
    - google-gdk-license-.+
before_install:
 - chmod +x gradlew
